<section data-ng-controller="HomeController">
    <div class="jumbotron text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
            </div>
        </div>
        <br>
        <div class="row">
            <p class="lead">
                Racket Sports Manager - easy playing
            </p>
        </div>

    </div>
    <div>
        <h2>Was ist der Racket Sport Manager?</h2>
        <p>Mit dem Racket Sport Manager ist es möglich einfach Sport Partner und Termine zu finden. Die Applikation motiviert dich zusätzlich öfters zu gehen.</p>


        <ul>
            <li>
                Vereinbare Spiele mit Freunden "Doodle-Style"
            </li>
            <li>
                Trete einer lokalen Liga bei
            </li>
            <li>
                Lass dir von der Liga Spielvorschläge unterbreiten und gewinne Sie
            </li>
            <li>
                Frage Personen in der nähe nach einem spontanen Spiel
            </li>
            <li>
                Have fun...
            </li>
        </ul>
    </div>

</section>
