
<section data-ng-controller="LeaguesController">
    <div class="page-header">
        <h1>New League</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>

                    <div class="controls">
                        <input type="text" data-ng-model="league.name" id="name" class="form-control" placeholder="Name" required>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="privat">Privat<small> Die Liga wird nicht in der Übersicht angezeigt wenn privat.</small></label>

                    <div class="controls">
                        <input type="checkbox" data-ng-model="league.private" id="privat" class="form-control" placeholder="Name" value="false" required>

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="sport">Sportart</label>
                    <select name="sport" id="sport" class="form-control" ng-model="league.sport"  required>
                        <option value="Squash">Squash</option>
                        <option value="Tennis">Tennis</option>
                        <option value="Badminton">Badminton</option>
                        <option value="Tabletennis">Tischtennis</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="requestShedule">Die Liga erstellt automatisch Spiele</label>
                    <select name="requestShedule" id="requestShedule" class="form-control" ng-model="league.requestShedule"  >
                        <option value="weeklyAll">Eine zufällige Herausforderung pro Woche</option>
                        <option value="biweeklyAll">Eine zufällige Herausforderung jede zweite Woche</option>
                        <option value="weeklyTwoTop">Eine Herausforderung gegen einen Mitspieler maximal 2 Plätze besser/schlechter pro Woche</option>
                        <option value="biweeklyTwoTop">Eine Herausforderung gegen einen Mitspieler maximal 2 Plätze besser/schlechter jede zweite Woche</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="address">Austragungsort</label>
                    <input type="text" onFocus="geolocate()" id="address" name="address" class="form-control" data-ng-model="address" required>
                </div>
               <div class="form-group">
                <label class="control-label" for="description">Beschreibung</label>

                <div class="controls">
                    <textarea cols="4"  data-ng-model="league.description" id="description" class="form-control" placeholder="Beschreibung"></textarea>

                </div>
                </div>
                <div class="form-group">
                    <label for="skill">Niveau</label>
                    <input oninput="skillout.value=skill.value" type="range" id="skill" name="skill" class="form-control" data-ng-model="league.niveau" min="1" max="10"  />
                    <output name="skillout" id="skillout" for="skill">{{user.skill}}</output>
                </div>


                <div class="form-group">
                    <label class="control-label" for="sport">Welches Geschlecht darf Spielen?</label>
                    <select name="gender" id="gener" class="form-control" ng-model="league.gender"  required>
                        <option value="man">Männer</option>
                        <option value="women">Frauen</option>
                        <option value="mixed">MIxed</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="price">Preis für Sieger (optional)</label>
                    <input type="price" data-ng-model="league.price" id="price" class="form-control" placeholder="Preisbeschreibung" required>

                </div>

                <div class="form-group">
                    <label class="control-label" >Liga Start (optional)</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="startime" role="button" data-toggle="starttime" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="league.starttime" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="league.starttime" data-datetimepicker-config="{ dropdownSelector: '#starttime' }"/>
                        </ul>
                    </div>



                </div>
                <div class="form-group">
                    <label class="control-label" >Liga Ende (optional)</label>
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="endtime" role="button" data-toggle="endtime" data-target="#" href="#">
                            <div class="input-group"><input type="text" class="form-control" data-ng-model="league.endtime" required><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="league.endtime" data-datetimepicker-config="{ dropdownSelector: '#endtime' }"/>
                        </ul>
                    </div>



                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
