<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Edit your profile</h3>
	<div class="alert alert-warning text-center" data-ng-hide="!new">
		Hallo {{user.displayName}}, wie wäre es wenn du noch ein paar Details über dich preisgibst?
	</div>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-2">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>


			</fieldset>
			</div>

		<div class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-3">

		<fieldset>
			<div class="form-group">
				<label for="skill">Spielstärke</label>
				<input oninput="skillout.value=skill.value" type="range" id="skill" name="skill" class="form-control" data-ng-model="user.skill" min="1" max="10"  />
				<output name="skillout" id="skillout" for="skill">{{user.skill}}</output>
			</div>
			<div class="form-group">
				<label for="invitePermission">Wer darf dich zum Spiel herausfordern?</label>
				<select name="invitePermission" id="invitePermission" class="form-control" data-ng-model="user.invitePermission" required>
					<option value="all">Alle</option>
					<option value="friends">Freunde</option>
					<option value="no">Niemand</option>
				</select>
			</div>
			<div class="form-group">
			<label for="expectation">Was suchst du?</label>
			<select name="expectation" id="expectation" class="form-control" data-ng-model="user.expectation" multiple required>
				<option value="regelmässiger Spielpartner finden">regelmässiger Spielpartner </option>
				<option value="Gelegenheitspartner finden">Gelegenheitspartner </option>
				<option value="Fun Spiele">Fun Spiele</option>
				<option value="Trainings">Trainings</option>
				<option value="Liga teilnehmen">An einer Liga teilnehmen</option>
			</select>
		</div>
			<div class="form-group">
				<label for="playTimes">Wann willst du normalerweise Spielen?</label>
				<input type="text" id="playTimes" name="playTimes" class="form-control" data-ng-model="user.playTimes" placeholder="Montag, Donnerstagabend?">
			</div>
			<div class="form-group">
				<label for="description">Wer bist du?</label>
				<textarea rows="5" id="description" name="description" class="form-control" data-ng-model="user.description"></textarea>
			</div>
			<div class="text-center form-group">
				<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
			</div>
			<div data-ng-show="success" class="text-center text-success">
				<strong>Profile Saved Successfully</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>
	</div>
</section>
