<section data-ng-controller="CourtsController" data-ng-init="find()">
    <div class="page-header">

        <h1>Racketzentren</h1>
    </div>
    <div class="panel panel-default" data-ng-show="!courts.$resolved || courts.length" >

        <div class="panel-heading"> Alle registrierten Racketzentren</div>
        <div class="panel-body">
            <p>Fall dein Racketzentrum nicht verfügbar ist, <a href="/#!/courts/create">registrier doch ein neues</a> </p>
        </div>
        <table id="courtslist" class="table">
            <tr>
                <th>Name</th><th>Adresse</th><th>Verfügbare Sportarten</th>
            </tr>

            <tr data-ng-repeat="court in courts" id="{{court._id}}" ng-click="go(court)"  onMouseover="this.bgColor='#DDDDDD'" onMouseout="this.bgColor='#FFFFFF'">
                <td data-ng-bind="court.name"></td>
                <td data-ng-bind="court.address"></td>
                <td data-ng-bind="court.sports"></td>
            </tr>
        </table>






    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!courts.$resolved || courts.length">
    	Keine RacketZentren definiert.  <a href="/#!/courts/create">registrier doch ein neues</a>?
    </div>
</section>
